<mat-progress-bar mode="buffer" [value]="bufferRequest"></mat-progress-bar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign="center">
    <div fxFlex="50%" fxFlex.xs="100%" fxFlex.lg="60%" fxFlex.md="80%" fxFlex.sm="80%">

      <mat-card>
        <mat-card-header>
          <mat-card-title>Eine tolle Startseite</mat-card-title>
          <mat-card-subtitle>mit einem super subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>hier sind tolle Dinge - vielleicht</mat-card-content>
        <mat-card-actions><button (click)="goShop()" mat-raised-button color="accent">Zum Shop</button></mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
